<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@profiscience/knockout-contrib examples</title>
  <style>
    * {
      font-family: 'Helvetica Neue';
    }
  </style>
</head>
<body>
  <% for (const pkg of htmlWebpackPlugin.options.packages) { %>
  <h2><a href="<%= pkg %>"><%= pkg %></a></h2>
  <% } %>
</body>
</html>